.wrap
  width: 100%
  overflow: hidden
.carousel
  padding: 16px 4px
  width: max-content
  position: relative
  &>span
    font-size: 48px
    transition: .5s
    width: 326px
    margin-right: 128px
